@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+25&display=swap');

html {
    font-size: 16px; /* = 1 rem */ /* em fa capo diretto alla font-size padre */
}

body {  

    padding: 0;
    margin: 0;

    overflow-x: hidden;
    background-color: hotpink;
}

/* classi */

.adminSection {
    border: 2px solid black;
    border-radius: 20px;
    background-color: plum;
    padding: 3px;
    color: red;
}

.hoverList:hover {

    background-color: plum;

    border: 2px solid black;
    border-radius: 20px;
    padding: 3px;
    cursor: pointer;
}

.hoverListBarre:hover {
    background-color: plum;

    border: 2px solid black;

    cursor: pointer;
}

.modificaOpt {
    position: relative;
    display: inline-flex;
    margin: 1em;
}

.buttonModifyOpt {
    
    padding: 0.5em;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;

    border: 2px solid black;
    background-color: orchid;
    transition: 0.5s;
}

.buttonModifyOpt:hover {
    border-radius: 20px;
    background-color: rgb(141, 66, 154);
    color: pink;
    cursor: pointer;
}

.inputSettings::placeholder { /* Placeholder dell' input nelle options utente */
    font-size: 12px;
    color: rebeccapurple;
}

.cursorPointer {
    cursor: pointer;
}

.borderBottomDark {
    border-bottom: 2px solid black;
    width: 100%;
}

.centraTesto {
    text-align: center;
}

/* top website */
#top {
    background-color: rgb(141, 66, 154);

    font-size: 32px;

    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;

    height: 3em; /*Root em*/

    user-select: none;
}

#activeBarre {
    display: none;
}

/* left navbar*/    

#navBarUlLeft {
    position: absolute;
    top: -0.5rem;
    left: 0;
    list-style: none;
    padding: 0;
}

#navBarUlLeft li {
    display: inline-block;
    margin-left: 20px;

    font-size: 50px;

    cursor: pointer;
    
}

#navBarUlLeft li a {
    text-decoration: none;
    color: inherit;
}

/* end left navbar*/

/* center navbar*/

#navBarCenter {
    position: absolute;
    display: flex;
    top: -0.2rem;
    left: 35%;
    transform: translateX(-50%); /* Trasla l'elemento verso sinistra del 50% della propria larghezza */
    list-style: none;
    padding: 0;

    
}

#navBarCenter li {
    display: inline-block;
}

#navBarCenter li input {
    background-color: violet;
    border: 5px solid violet;
    border-radius: 2%;

    /* Grandezza barra di ricerca */
    width: 20em;
    height: 2em;


    text-align: center;
    font-weight: bold;
    color: darkmagenta;

    transition: 0.3s;
}

#navBarCenter li input:focus {
    transition: 0.3s;
    outline: none;

    border-radius: 5%;

    width: 25em;
}

/* end center navbar*/

/* right navbar */


/* lista navbar obj*/
#navBarUlRight {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
}

.user {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
}

.user:hover {
    background-color: rebeccapurple;
}

#navBarUlRight li {
    display: inline-block;
    margin-left: 20px;

    
}

#navBarUlRight li:first-child {
    margin-left: 0;
}

#navBarUlRight li:last-child {
    margin-right: 2em;
}

#toggleBarre {
    display: none;
}

/* end right navbar */ 

/* main */ 

#main {
    margin-top: 0em;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    transition: 0.2s;
}

#containerProfile {
    position: relative;
    display: none; /* DA METTERE NONE */
    background-color: orchid;
    
    width: 100%;
    height: 60vh;
    margin-top: 0em;

    user-select: none;
}

#cardImpostazioniUtente {
    position: relative; /* Posiziona l'elemento in base alle coordinate specificate */
    top: calc(10%); /* Sposta l'elemento sotto #containerProfile (60% + 20px di margine) */
    left: 50%; 
    transform: translateX(-50%);
    width: 80%; /* Larghezza dell'elemento */
    height: 80%; /* Altezza dell'elemento */
    background-color: orchid; /* Colore di sfondo */
    border: 2px solid black; /* Bordo */
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.2); /* Ombra */

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;

    overflow-y: scroll;
    /* Nascondi la barra di scorrimento solo su browser WebKit */
    scrollbar-width: thin; /* Per Firefox */
    scrollbar-color: transparent transparent; /* Per Firefox */

}

#cardImpostazioniUtente p {
    position: relative;
    display: flex;
    justify-content: center;
    font-style: italic;
    text-align: center;
}

/* Bottone per salvare le nuove impostazioni!*/
#cardImpostazioniUtente p span #salvaImpostazioniProfilo {
    position: relative;
    background-color: orchid;
    border: 2px solid black;
    border-radius: 30px;

    width: 3rem;
    height: 2rem;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;

    left: 4em;
    margin-right: 3em;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.2); /* Ombra */

    transition: 0.5s;

    padding: 0;
}

#cardImpostazioniUtente p span #salvaImpostazioniProfilo:hover {
    background-color: rebeccapurple;

    cursor: pointer;
}

#cardImpostazioniUtente ul {
    list-style: none;    
}

#cardImpostazioniUtente ul li{
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    margin-right: 5rem;

    justify-content: space-between;
    align-items: center;

}

#cardImpostazioniUtente ul li input {

    color: black;

    width: 70%;
    height: 30%;
    background-color: orchid;
    border: 3px solid black;
    border-radius: 20px;

    text-align: center;
    font-size: 25px;
    font-weight: bold;

    transition: 0.5s;
}


#cardImpostazioniUtente ul li input:hover {

    background-color: rebeccapurple;
}

#cardImpostazioniUtente ul li input:focus {

    outline: none;
}

#containerWebSite {
    position: relative;
    width: 100%;
    height: 100%;

    transition: 0.5s;
}

/* end main */

#footer {
    position: fixed;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    color: wheat;
  
    user-select: none;
}

@media screen and (max-width: 1800px) {
    #navBarUlRight {
        display: none;
    }

    #navBarCenter {
        display: none;
    }

    /* Sidebar */
    #toggleBarre {
        position: absolute;
        display: block;
        top: 1em;
        right: 0;

        margin-right: 10px;

        padding: 0;
    }

    #toggleBarre:hover {
        cursor: pointer;
    }

    #activeBarre {
        position: relative;
        top: 3em;
        left: 0;

        background-color: violet;

        width: 100%;
        text-align: center;
        padding: 1px;
        z-index: 1;
    } 

    #activeBarre ul {
        list-style: none;
        display: inline;
    }

    #activeBarre ul li{
        margin-bottom: 0.2em;
    }

    #activeBarre ul li:last-child{
        margin-bottom: 0em;
    }

    #activeBarre input {
        position: relative;
        background-color: violet;
        border: 3px solid black;
        border-radius: 20px;

        /* Grandezza barra di ricerca */
        width: 20em;
        height: 2em;    
        margin-top: 1em;


        text-align: center;
        font-weight: bold;
        color: darkmagenta;

    }

    #activeBarre input:focus {
        transition: 0.3s;
        outline: none;
    }

    #topMain {
        display: none;
    }

    #cardImpostazioniUtente {
        width: 80%;
        left: 33%; /* Sposta l'elemento a sinistra */
        transform: translateX(-33%);
    }

    .user {
        padding: 6px;
    }
}

@media screen and (max-width: 600px) {

    #textBankName {
        font-size: 40px;
    }

    #navBarUlRight {
        display: none;
    }

    #navBarCenter {
        display: none;
    
    }

    /* Sidebar */
    #toggleBarre {
        display: none;
    }
    
    #activeBarre {
        position: absolute;
        left: 0;

        display: block;

        background-color: violet;
        text-align: center;
        padding: 0;
    }

    #activeBarre ul {
        list-style: none;
        display: inline;
    }

    #activeBarre input {
        background-color: violet;
        border: 2px solid black;
        border-radius: 20px;
        
        /* Grandezza barra di ricerca */
        width: 20em;
        height: 2em;


        text-align: center;
        font-weight: bold;
        color: darkmagenta;

    }
    
    #activeBarre input:focus {
        transition: 0.3s;
        outline: none;
    }

    #cardImpostazioniUtente {
        width: 90%;
        font-size: 25px;
    }





}
