

.boxTransazioniLeft {

    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    text-align: center;

    padding: 20px;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: italic;

    cursor: pointer;
    transition: 0.5s;
}

.boxTransazioniLeft:hover {
    background-color: rebeccapurple;
    text-decoration: underline;

    border: 3px solid violet;
}

.boxTransazioniRight {
    position: relative;
    width: 100%;
    height: 100%;

    /* background-color: red; */

}

.inputTransazione {
    background-color: hotpink;
    border:3px solid black;
    border-radius: 20px;

    height: 3vh;

    font-size: 25px;

    text-align: center;
}

.inputTransazione:focus {
    outline: none;
    background-color: rebeccapurple;
}

/* CONTAINER */ 
#TransazioniContainer {
    position: sticky;
    display: flex; /* Da mettere none */ 
    top: 0;
    margin-top: 0.1em;
    z-index: 999;
    height: 80vh;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 28px;
    font-style: normal;

    box-sizing: border-box;

}

#containerScelteTransazioni {

    width: 15%;
    height: 100%;
    
    border: 3px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 0;
    padding: 0;
}

#containerTransazioniChange {
    width: 80%;
    height: 100%;
    border: 3px solid black;
    display: flex;

    margin: 0;
    padding: 0;

}

#transazioniDepositoMain {

    display: none;
}

#transazioniPrelievoMain {
    display: none;
}

#transazioniCronologiaMain {
    display: none;
}

#boxDepositoMain {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: calc(100% - 2em);

    border: 1px solid blueviolet;
    box-shadow: 10px 10px 10px 10px blueviolet;

    margin: 1em;
    user-select: none;
    overflow-y: scroll;
    /* Nascondi la barra di scorrimento solo su browser WebKit */
    scrollbar-width: thin; /* Per Firefox */
    scrollbar-color: transparent transparent; /* Per Firefox */

    text-align: center;

}

#cassaDepositoLeft{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 2em;

    padding: 20px;
    border: 3px solid rebeccapurple;
    border-radius: 15%;
    box-shadow: 10px 10px 10px 10px blueviolet;

}

#titleDepositoMain {
    width: 12em;
}

#titleDepositoMain p{
    text-align: center;
    border-bottom: 2px solid pink;
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

#barraCassaCenter {
    position: relative;
    display: flex;
    background-color: black;
    border: 1px solid black;

    width: 2px;
    height: 100%;


}

#cassaDepositoRight{
    margin-right: 2em;
    border: 3px solid rebeccapurple;
    border-radius: 15%;
    box-shadow: 10px 10px 10px 10px blueviolet;

    width: 20%;

}

.rowDepositoCell {
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2em;
}

.columnDepositoCell {
    transition: 0.5s;

    border-bottom: 3px solid pink;
    border-radius: 15%;

    cursor: pointer;
}

.columnDepositoCell:hover {
    transition: 0.5s;
    background-color: blueviolet;
    box-shadow: 3px 3px 3px 3px blueviolet;

}

#formInputDeposito {

    width: 95%;
    height: 70%;
    margin-top: 2em;
    display: flex;
    flex-direction: column; /* Cambia l'orientamento del flex container a verticale */
    align-items: center; /* Allinea i figli al centro rispetto all'asse trasversale (orizzontale) */

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 28px;
    font-style: normal;
}

#formInputDeposito form {
    display: flex;
    flex-direction: column; /* Cambia l'orientamento del form a verticale */
    align-items: center; /* Allinea i figli al centro rispetto all'asse trasversale (orizzontale) */
    width: 100%; /* Assicura che il form occupi tutto lo spazio disponibile */
}

#formInputDeposito form button{

    background-color: hotpink;
    border: 3px solid black;
    border-radius: 20%;

    margin-top: 4em;
    width: 8em;
    height: 2em;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;

    cursor: pointer;
}

#formInputDeposito form button:hover{
    background-color: rebeccapurple;
}

#divSpanPin {
    margin-top: 2em;
}

#messaggioPin {
    margin-top: 1em;
}

/* PRELIEVO */

#boxPrelievoMain {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: calc(100% - 2em);

    border: 1px solid blueviolet;
    box-shadow: 10px 10px 10px 10px blueviolet;

    margin: 1em;
    user-select: none;
    overflow-y: scroll;
    /* Nascondi la barra di scorrimento solo su browser WebKit */
    scrollbar-width: thin; /* Per Firefox */
    scrollbar-color: transparent transparent; /* Per Firefox */

}

#titlePrelievoMain {
    width: 12em;
}

#titlePrelievoMain p{
    text-align: center;
    border-bottom: 2px solid pink;
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

.rowPrelievoCell {
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2em;
}


.columnPrelievoCell {
    transition: 0.5s;

    border-bottom: 3px solid pink;
    border-radius: 15%;

    cursor: pointer;
}


.columnPrelievoCell:hover {
    transition: 0.5s;
    background-color: blueviolet;
    box-shadow: 3px 3px 3px 3px blueviolet;

}

#cassaPrelievoLeft{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 2em;

    padding: 20px;
    border: 3px solid rebeccapurple;
    border-radius: 15%;
    box-shadow: 10px 10px 10px 10px blueviolet;

}


#cassaPrelievoRight{
    margin-right: 2em;
    border: 3px solid rebeccapurple;
    border-radius: 15%;
    box-shadow: 10px 10px 10px 10px blueviolet;

    width: 20%;

}

#formInputPrelievo {
    width: 95%;
    height: 70%;
    margin-top: 2em;
    display: flex;
    flex-direction: column; /* Cambia l'orientamento del flex container a verticale */
    align-items: center; /* Allinea i figli al centro rispetto all'asse trasversale (orizzontale) */

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 28px;
    font-style: normal;
}

#formInputPrelievo form {
    display: flex;
    flex-direction: column; /* Cambia l'orientamento del form a verticale */
    align-items: center; /* Allinea i figli al centro rispetto all'asse trasversale (orizzontale) */
    width: 100%; /* Assicura che il form occupi tutto lo spazio disponibile */
}

#formInputPrelievo form button{

    background-color: hotpink;
    border: 3px solid black;
    border-radius: 20%;

    margin-top: 4em;
    width: 8em;
    height: 2em;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;

    cursor: pointer;
}

#formInputPrelievo form button:hover{
    background-color: rebeccapurple;
}

/* */

/* TRANSAZIONI CRONOLOGIA */
#boxTransazioniCronologiaMain {

    display: flex;
    flex-direction: column;

    height: calc(100% - 2em);

    border: 1px solid blueviolet;
    box-shadow: 10px 10px 10px 10px blueviolet;

    margin: 1em;
    user-select: none;
    overflow-y: scroll;
    /* Nascondi la barra di scorrimento solo su browser WebKit */
    scrollbar-width: thin; /* Per Firefox */
    scrollbar-color: transparent transparent; /* Per Firefox */

}

#tabellaTransazioni {
    height: 100%;
}

#depoisitiPage {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

#prelieviPage {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    border-radius: 20px;

}

#depoisitiPage:hover {
    transition: 0.5s;
    background-color: rebeccapurple;
    border: 2px solid pink;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px blueviolet;
}

#prelieviPage:hover {
    transition: 0.5s;
    background-color: rebeccapurple;
    border: 2px solid pink;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px blueviolet;
}

#statistichePage {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

#statistichePage:hover {
    transition: 0.5s;
    background-color: rebeccapurple;
    border: 2px solid pink;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px blueviolet;
}

@media screen and (max-width: 800px) {

    #TransazioniContainer {
        font-size: 14px;
    }

    #barraCassaCenter {
        display: none;
    }

    #cassaDepositoRight {
        display: none;
    }

}

@media screen and (max-width: 600px) {

    #TransazioniContainer {
        width: 95%;
    }
}