
.boxTransazioniLeft {

    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    text-align: center;

    padding: 20px;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: italic;

    cursor: pointer;
    transition: 0.5s;
}

.boxTransazioniLeft:hover {
    background-color: rebeccapurple;
    text-decoration: underline;

    border: 3px solid violet;
}

.boxTransazioniRight {

}


/* CONTAINER */ 
#TransazioniContainer {
    position: sticky;
    display: flex; /* Da mettere none */ 
    top: 0;
    margin-top: 0.1em;
    z-index: 999;
    height: 80vh;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;

    box-sizing: border-box;
}

#containerScelteTransazioni {

    width: 15%;
    height: 100%;
    
    border: 3px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: 0;
    padding: 0;
}

#containerTransazioniChange {
    width: 80%;
    height: 100%;
    border: 3px solid black;
    
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 800px) {

    #TransazioniContainer {
        font-size: 16px;
    }

}